<nav class="nav">
  <div class="nav-wrapper">
    <ul class="left nav">
      <li><a href="/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="/" class="brand-logo"> | InstaFactory</a></li>
    </ul>


    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "New Post", new_post_path %></li>
      <li><a href="/posts"><i class="fa fa-compass" aria-hidden="true"></i></a></li>
      <li><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
      <li><i class="fa fa-user-o" aria-hidden="true"></i></a></li>

        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>

    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>
