<div class="homepage text-center">

    <h1 class="orange-header">Welcome to Insta<span class="blue-header">Factory</span>
</h1>
<img class="instafactory" src="https://cdn.pixabay.com/photo/2014/04/03/11/36/squares-311941_960_720.png" alt="instafactory">

</div>
